@inject NavigationManager UriHelper;
@inject HttpClient Http
@using Newtonsoft.Json;
@using Real.Time.Chat.Shared.Kernel.Entity;
@using ViewModel;
@page "/register"

<h3>Register</h3>
<div class="container">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" @bind="@name" />
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" name="email" class="form-control" @bind="@email" />
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" @bind="@password" />
    </div>
    <div class="form-group">
        <label for="second-password">Confirm password</label>
        <input type="password" class="form-control" name="second-password" @bind="@secondPassword" />
    </div>
    <span class="text-danger">@loginErrorMessage</span>
    <br>
    @foreach (var error in errors)
    {
        <p class="text-danger">@error</p>
    }
    <div>
        <button class="btn btn-primary" @onclick="NewUser">Register</button>
        <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
    </div>
</div>

@code {
    string name = "";
    string email = "";
    string password = "";
    string secondPassword = "";
    string loginErrorMessage = "";
    List<string> errors = new List<string>();

    protected async Task NewUser()
    {
        var model = new UserViewModel
        {
            Email = email,
            Password = password,
            SecondPassword = secondPassword,
            Name = name
        };

        var response = await new Chat.Web.App.Data.ChatService().PostNewUser(model);

        try
        {
            if (response.StatusCode == System.Net.HttpStatusCode.InternalServerError)
            {
                errors.Add("Internal error");

                await Task.CompletedTask;
            }
            else 
            {
                var actionResult = JsonConvert.DeserializeObject<ApiOkReturn>(await response.Content.ReadAsStringAsync());
                if (actionResult.success)
                {
                    UriHelper.NavigateTo("Login");
                }
                else
                {
                    var result = JsonConvert.DeserializeObject<ApiBadReturn>(await response.Content.ReadAsStringAsync());
                    errors = result.errors.ToList();
                }
            }
        }
        catch
        {
            var actionResult = JsonConvert.DeserializeObject<ApiBadReturn>(await response.Content.ReadAsStringAsync());
            errors = actionResult.errors.ToList();
        }

        StateHasChanged();
    }

    void Cancel()
    {
        UriHelper.NavigateTo("Login");
    }
}
